<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Kalkulus Messenger</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="#">
		<link href="./assets/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="./assets/css/swipe.min.css" type="text/css" rel="stylesheet">
		<link href="./assets/img/favicon.png" type="image/png" rel="icon">
		<link href="./assets/css/dark.min.css" id="dark" type="text/css" rel="stylesheet">
	</head>
	<body>
		<!-- Layout -->
		<div class="layout" id="app">
			<!-- Start of Navigation -->
			<nav class="navigation">
				<div class="container">
					<a href="#" class="logo" rel="home"><img src="./assets/img/favicon.png" alt="logo"></a>
					<ul class="nav" role="tablist">
						<li><a href="#conversations" v-on:click="getDiscussions()" class="active" data-toggle="tab" role="tab" aria-controls="conversations" aria-selected="true"><i data-eva="message-square" data-eva-animation="pulse"></i></a></li>
						<li v-on:click="updateContacts()"><a href="#friends" data-toggle="tab" role="tab" aria-controls="friends" aria-selected="false"><i data-eva="people" data-eva-animation="pulse"></i></a></li>
						<!--<li><a href="#notifications" data-toggle="tab" role="tab" aria-controls="notifications" aria-selected="false"><i data-eva="bell" data-eva-animation="pulse"></i></a></li>-->
						<li><a href="#settings" data-toggle="tab" role="tab" aria-controls="settings" aria-selected="false"><i data-eva="settings" data-eva-animation="pulse"></i></a></li>
						<li><button type="button" class="btn mode"><i data-eva="bulb" data-eva-animation="pulse"></i></button></li>
					</ul>
				</div>
			</nav>
			<!-- End of Navigation -->
			<!-- Start of Sidebar -->
			<div class="sidebar">
				<div class="container">
					<div class="tab-content">
						<!-- Start of Discussions -->
						<div class="tab-pane show active" id="conversations" role="tabpanel">
							<div class="top">
								<form onsubmit="return false">
									<input type="search" v-model="searchDiscussions" class="form-control" placeholder="Search">
									<button type="submit" class="btn prepend"><i data-eva="search"></i></button>
								</form>
							</div>
							<div class="middle">
								<h4>Discussions</h4>
								<!--<button type="button" class="btn round" data-toggle="modal" data-target="#compose"><i data-eva="edit-2"></i></button>-->
								<hr>
								<ul class="nav discussions" role="tablist">
									<li>
										<a href="#chat1" v-on:click="loadDiscussion('public')" class="filter direct active" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat1" aria-selected="true">
											<div class="status"><img src="http://localhost:11673/avatar/KLKSMSGPUBLICCHAT" alt="avatar"></div>
											<div class="content">
												<div class="headline">
													<h5 style="margin-top:5px">Public chat</h5>
												</div>
											</div>
										</a>
									</li>
									<li v-for="discussion in filteredDiscussions">
										<a href="#chat1" v-on:click="loadDiscussion('address',discussion.address);getChatInfo()" class="filter direct" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat1" aria-selected="true">
											<div class="status">
												<img :src="'http://localhost:11673/avatar/' + discussion.address" alt="avatar">
											</div>
											<div class="content">
												<div class="headline">
													<h5 style="margin-bottom:-17px">{{ discussion.nickname }}</h5>
												</div>
												<p>{{ discussion.last_message }}</p>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- End of Discussions -->
						<!-- Start of Friends -->
						<div class="tab-pane" id="friends" role="tabpanel">
							<div class="top">
								<form onsubmit="return false">
									<input type="search" v-model="searchUsers" class="form-control" placeholder="Search">
									<button type="submit" class="btn prepend"><i data-eva="search"></i></button>
								</form>
							</div>
							<div class="middle">
								<h4>Users</h4>
								<hr>
								<ul class="users">
									<li v-for="user in filteredUsers">
										<a href="#" v-on:click="loadDiscussion('address',user.address);getChatInfo()">
											<div class="status">
												<img :src="'http://localhost:11673/avatar/' + user.address" alt="avatar">
											</div>
											<div class="content">
												<h5>{{ user.nickname }}</h5>
												<span style="font-size:9px">{{ user.address }}</span>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- End of Friends -->
						<!-- Start of Settings -->
						<div class="settings tab-pane" id="settings" role="tabpanel">
							<h4>Settings</h4>
							<ul id="preferences">
								<!-- Start of Account -->
								<li>
									<a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#account" aria-controls="account">
										<div class="title">
											<h5>Identity</h5>
											<p>Download your identity payload, you will be able to recover your account later. Copy and paste it in a safe place.</p>
										</div>
										<i data-eva="arrow-ios-forward"></i>
										<i data-eva="arrow-ios-downward"></i>
									</a>
									<div class="content collapse" id="account" data-parent="#preferences">
										<div class="inside">
											<pre v-if="identity" id="identity" style="color:#fff; background:#666; border-radius:5px; padding: 5px">{{ identity }}</pre>
											<form v-if="!identity" onsubmit="return false" class="account">
												<button v-on:click="showIdentity" type="submit" class="btn primary">Show identity keys</button>
											</form>
											<form v-if="identity" onsubmit="return false" class="account">
													<button v-on:click="copyIdentity" type="submit" class="btn primary">Copy identity keys</button>
												</form>
										</div>
									</div>
								</li>
								<!-- End of Account -->
								<!-- Start of Privacy & Safety -->
								<li>
									<a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#privacy" aria-controls="privacy">
										<div class="title">
											<h5>Privacy & Safety</h5>
											<p>Control your privacy settings</p>
										</div>
										<i data-eva="arrow-ios-forward"></i>
										<i data-eva="arrow-ios-downward"></i>
									</a>
									<div class="content collapse" id="privacy" data-parent="#preferences">
										<div class="inside">
											<ul class="options">
												<li>
													<p>
														By renewing your keys you (and no-one else) won't be able to decrypt message sent by you to other users.
														You won't be able to recover the identity unless you've done a backup, do it if you didn't have done yet.
														<br>Proceed at your own risk.
													</p><br>
													<button v-if="!renewConfirm" v-on:click="confirmRenew()" type="submit" class="btn primary">Renew public and private keys</button>
													<button v-if="renewConfirm" v-on:click="renewKeys()" type="submit" class="btn primary">I'm 100% sure!</button>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<!-- End of Privacy & Safety -->
								<!-- Start of Appearance -->
								<li>
									<a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#appearance" aria-controls="appearance">
										<div class="title">
											<h5>Appearance</h5>
											<p>Customize the look of Swipe</p>
										</div>
										<i data-eva="arrow-ios-forward"></i>
										<i data-eva="arrow-ios-downward"></i>
									</a>
									<div class="content collapse" id="appearance" data-parent="#preferences">
										<div class="inside">
											<ul class="options">
												<li>
													<div class="headline">
														<h5>Lights</h5>
														<label class="switch">
															<input type="checkbox">
															<span class="slider round mode"></span>
														</label>
													</div>
													<p>Choose for the light or the dark theme.</p>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<!-- End of Appearance -->
							</ul>
						</div>
						<!-- End of Settings -->
					</div>
				</div>
			</div>
			<!-- End of Sidebar -->
			<!-- Start of Chat -->
			<div class="chat">
				<div class="tab-content">
					<!-- Start of Chat Room -->
					<div class="tab-pane show active" id="chat1" role="tabpanel">
						<div class="item">
							<div class="content">
								<div class="container">
									<div class="top">
										<div class="headline">
											<img :src="chat.avatar" alt="avatar">
											<div class="content">
												<h5>{{ chat.name }}</h5>
												<span>{{ chat.address }}</span>
											</div>
										</div>
										<ul>
											<li>
												<button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-eva="more-vertical" data-eva-animation="pulse"></i></button>
												<div class="dropdown-menu">
													<!--<button type="button" class="dropdown-item" data-toggle="modal" data-target="#compose"><i data-eva="person-add"></i>Add people</button>-->
													<button type="button" v-on:click="getChatInfo()" class="dropdown-item" data-utility="open"><i data-eva="info"></i>Informations</button>
													<button type="button" v-on:click="confirmBlock()" v-if="chat.receiver !== 'public'" class="dropdown-item" data-utility="open"><i data-eva="minus-circle-outline"></i>Block user</button>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="middle" id="scroll">
									<div class="container">
										<ul>
											<li v-bind:class="{ me: line.is_mine }" v-for="line in chat.discussion">
												<img :src="'http://localhost:11673/avatar/' + line.address" alt="avatar">
												<div class="content">
													<div class="message">
														<div class="bubble">
															<p>{{ line.message.message }}</p>
														</div>
													</div>
													<span>{{ line.nickname }}<br><strong>at</strong> {{ line.received_at }}</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="container">
									<div class="bottom">
										<form onsubmit="return false" v-on:submit="sendMessage">
											<input class="form-control" v-model="message" placeholder="Type message...">
											<button type="submit" class="btn prepend"><i data-eva="paper-plane"></i></button>
										</form>
									</div>
								</div>
							</div>
							<!-- Start of Utility -->
							<div class="utility">
								<div class="container">
									<button type="button" class="close" data-utility="open"><i data-eva="close"></i></button>
									<div class="tab-content">
										<div class="tab-pane active show" id="users" role="tabpanel">
											<h4>Connection info</h4>
											<hr>
											<p style="margin-top:15px;">
												<strong>Address:</strong><br>{{ chat.info.address }} ({{ chat.info.balance }} KLKS)<br>
												<strong>State:</strong><br>
												<span v-if="chat.info.blocked">Blocked</span><span v-if="!chat.info.blocked">Unblocked</span><br>
												<strong>Local alias:</strong><br>
												<input type="text" v-model="alias" class="form-control" placeholder="Give an alias to the user"><br>
												<button v-on:click="updateAlias()" type="submit" class="btn primary">Update</button>
												<br><br>
												<strong>RSA PubKey:</strong><br>{{ chat.info.identity }}
											</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End of Utility -->
						</div>
					</div>
					<!-- End of Chat Room -->
				</div>
			</div>
			<!-- End of Chat -->
		</div>
		<!-- Layout -->
		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
		<script src="./assets/js/vendor/vue.min.js"></script>
		<script src="./assets/js/vendor/vuecopy.min.js"></script>
		<script src="./assets/js/vendor/axios.min.js"></script>
		<script src="./assets/js/vendor/jquery.min.js"></script>
		<script src="./assets/js/vendor/popper.min.js"></script>
		<script src="./assets/js/vendor/feather.min.js"></script>
		<script src="./assets/js/vendor/eva.min.js"></script>
		<script src="./assets/js/vendor/bootstrap.min.js"></script>
		<script src="./assets/js/swipe.min.js"></script>
		<script src="./assets/js/app.js"></script>
		
	</body>
</html>																																																										